# Virtual environments
venv/
.venv/

# Environment variables
.env
env/*.env
!env/*.example

# Rapports de tests générés
**/reports/

# Python cache
__pycache__/

# Python files
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz


# Temp
backend/src/fixtures/clean_quiz_data copy.json
backend/src/fixtures/clean_quiz_data.json
backend/src/fixtures/quiz_data copy.json
backend/src/fixtures/quiz_data.json
backend/src/media/avatars/old_avatar_Sw3eQw9.jpg
backend/src/media/avatars/old_avatar.jpg
docs/backend/status.md
docs/flows/session.md
